@media screen and (max-width:960px){
    body{
        background: 
            url(../img/768/bg_768.png) no-repeat ;
       
    }
    #container{
     width: 768px;
    }
    .title {
    top:-40px;
        left: -99px;
        top:3px;
}
    .menu{
        margin-left: -259px;
        margin-top: 78px;
    }
/*--------------Slider-----------*/
.slider{
    position: relative;
    top:-30px;
    }
.smartphone_960{
    margin-top: 15px;
    margin-left: 490px;
    }
.arrow_right{
    margin-left: 80%;
}
.arrow_left{
    top:180px;
    left: 200px;
}
.article__text{
    width: 260px;
    margin-left: 140px;
    margin-top: 5px;
}
.article__text h1{
    font-size: 46px;
}
.article__text h2{
    font-size:22px;
    margin-top: 10px;
    margin-bottom: 10px;
   
}
.article__text p{
    font-size: 14px;
    overflow: hidden;
    height: 100px;
}
.navigation_dots{
    margin-top: 2%;
    margin-right: 25%;
/*--------------About-section-----------*/
}
.about_section{
    position: relative;
    left:46px;
    justify-content: flex-start
    }
.about_article{
    width: 200px;
    height: 200px;
}
.about_article h2{
    font-size:24px;
}
.about_article p{
    margin-bottom: 2%;
    overflow: hidden;
    width: 150px;
    height: 147px;
}
.about_article a{
    font-size: 18px;
    margin-left: 105px;
    }
/*--------------main_content-----------*/
.main_content{
    margin-top: 19%;
   margin-left: 43px;
}
/*--------left article-----------*/
.main__left_article{
    width: 320px;
    padding-top: 30px;
    margin-left: -30px;
}
.main__left_article h2 {
    font-size:24px;
    margin-bottom: -40px;
}
.main__left_article h2 span {
    white-space: pre-line;
    font-size: 24px;
}
.main__left_article p{
   box-sizing: border-box;
    padding: 36px;
    height: 180px;
    overflow: hidden;
    position: relative;
    top:-17px;
}
.main_dots{
    margin-top: 50px;
    margin-left: 116px;
}
/*--------right article-----------*/
.main__right_article{
     width: 440px;
    margin-top: 33px;
    position: relative;
    right: 180px;
}
.main__right_article p{
overflow: hidden;
    width: 270px;
    height:15px;
}
.main__right_article a{
    margin-left: 243px;
}
/*--------section_partners-----------*/
.section_partners{
    width: 250%;
    padding-top: 40px;
    margin-left: -75.5%;
    margin-top:9%;
    text-align: center;
}
.section_partners .partners_960{ 
    display: none;
}
.section_partners .partners_480{  
    display: none;
}    
.section_partners .partners_768{  
    display:inline-block;
}    
/*-------"section_additional_information-----*/
.credentials{
    margin-left: 63px;
    justify-content: flex-start;
}
.credentials__article {
    width: 25%;
    height: 260px;
    overflow: hidden;
    margin-right: 90px;
}
/*-------footer-----*/
.footer{
    margin-top: 7.2%;
    margin-left: 250px;
    width: 610px;
    display: flex;
    justify-content: space-between;
}
.footer__menu__item{
    margin-right: 41px;

    }
.footer p {
    margin-top: 132px;
    margin-right: 145px;
}