body{
    background: url(../img/960/background.png) no-repeat left;

    -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; 

     height: 2306px;
}
#container{
    width: 960px;
    margin: 0 auto;
    position: relative;
    left:60px;
}
@font-face{
    font-family: LeagueGothic;
    src: url(../fonts/LeagueGothic.ttf);
}
@font-face{
    font-family: OpenSansLight;
    src: url(../fonts/OpenSansCondLight.ttf);
}
/*--------------Header--------------*/
.header{
width: inherit;
height: 275px;    
 text-shadow: 2px 2px 1px rgba(150, 150, 150, 1);
    margin: 0 auto;
}

.menu_article {
    display: flex;
    justify-content: center;
    padding-top: 65px;
}
.dropbtn{
    display: none;
}
 .title {
    position: relative;
     left:-70px;
    font-size: 48px;
    font-family: LeagueGothic;
    color: white;
}
.title span{
background: linear-gradient(violet,black);
-webkit-background-clip: text;
color: transparent;
text-shadow: 2px 2px 1px rgba(150, 150, 150, 0.2);

}
.menu{
    display: flex;
    margin-left: 100px;
    margin-top: 10px;
}
.menu__item{
    width: auto;
    font-size: 24px;
    font-family: LeagueGothic;
    color: white;
    text-decoration: none;
    margin-right: 52px;
}
.menu__item:hover{
    text-decoration:underline;
    color:violet;
}
.menu__item:hover span{
    color:white;
}
/*--------------Slider-----------*/
.slider{
  height: 400px;
    width: 250%;
    margin-left: -78.5%;
    background: url(../img/960/hover_slider.png) left ;
    box-sizing: border-box;
    padding: 0 370px;
    margin-bottom: 26%;
}
.slider__article{
    width: 960px;    
    margin: 0 auto;
}
.smartphone_960{
    margin-left: 540px;
   width: 400px;
    text-align: right;
    box-sizing: border-box;
    padding-right: 75px;
}
.smartphone_960 img{
    margin-top: -323px;
}
.smartphone_480{
    display: none
}
.arrow{
    width: 30px;
    position: relative;
    top:135px;
}
.arrow_right{
    margin-left: 95%;
}
.arrow_left{
    top:180px;
}
.article__text{
    width: 490px;
    margin-left: -20px;
    margin-top: -10px;
}
.article__text h1{
    font-family: LeagueGothic;
    color: white;
    font-size: 58px;
}
.article__text h2{
     font-family: LeagueGothic ;
    color:#edbfff;
    font-size:34px;
    margin-left: -2px;
    word-spacing: 1px;
}
.article__text p{
font-family:OpenSansLight;
    color: white;
    font-size: 22px;
    line-height: 26px;
margin-top: 5px;
}
.navigation_dots{
    text-align: right;
    margin-top: 7.5%;
    margin-right: 20%;
}
/*--------------About-section-----------*/
.about_section{
    width: 960px;
    height: 220px;
    display: flex;
    justify-content: space-between;
}
.about__ico{
    width: 40px;
    height: 35px;
    float: left;
    background: url(../img/960/sprite.png) 0 0 no-repeat;
    margin-left: -43px;
    margin-top: 3px;
}
.chat_ico{
    background-position: center;
    margin-left: -50px;
}
.music_ico{
    background-position: -670px 0;
     margin-left: -50px;
}
.about_article{
    width: 230px;
    height: 200px;
    margin-right: 50px;
}
.about_article h2{
     font-family: LeagueGothic;
    color:white;
    font-size:30px;
    margin-left: 9px;
}
.about_article p{
    margin-left: 12px;
    margin-top: 3%;
     font-family:OpenSansLight;
    color: white;
    font-size: 20px;
    margin-bottom: 9%;
    word-spacing: 3px;
    line-height: 24.5px;
}
.about_article a {
    text-decoration: none;
    color: white;
     font-family: LeagueGothic;
    font-size: 18px;
    margin-left: 75%;
} 
.about_article a:hover {
 text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
} 
/*--------------main_content-----------*/
.main_content{
    margin-top: 15%;
    width: 960px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}
/*--------left article-----------*/
.main__left_article{
    width: 429px;
    height: 300px;
    background: url(../img/960/main_quote.png) no-repeat;
    box-sizing: border-box;
    padding-top: 30px;
    margin-left: -30px;
}
.main__left_article h2 {
    font-family: LeagueGothic ;
    font-size:30px;
    margin-left: -2px;
    word-spacing: 1px;
    padding-bottom: 10px;
}
.main__left_article h2 span {
    color:#edbfff;
}
.main__left_article p{
    font-family:OpenSansLight;
    color: blck;
    font-size: 20px;
    line-height: 24px;
    width: 330px;
    margin: 0 auto;
}
.main__ico{
    width: 50px;
    height: 50px;
    float: left;
}
.owner_ico{
    background: url(../img/960/author.png) 0 0 no-repeat;
    margin-left: -25px;
    margin-right: 18px;
    margin-top: -12px;
}
.main_dots{
    margin-top: 58px;
    margin-left: 171px;
}
/*--------right article-----------*/
.main__right_article{
     width: 460px;
    margin-top: 30px;
    position: relative;
    right: 41px;
}

.update_ico{
    width: 50px;
    height: 50px;
    float: left;
    background: url(../img/960/sprite_post.png) 0 0 no-repeat;
    margin-right: 15px;
}
.update_ico_medium{
    background-position: 0 -67px;
}
.update_ico_bottom{
    background-position: 0 -132px;
}
.main__right_article h2{
     font-family: LeagueGothic ;
    font-size:30px;
    margin-left: -2px;
    word-spacing: 1px;
    padding-bottom: 16px;
}
.main__right_article h3{
    font-weight: 900;
      font-family:OpenSansLight;
     font-size: 18px;
    letter-spacing: 2.7px;
}
.main__right_article p{
    font-family:OpenSansLight;
    padding-top: 11px;
    color: blck;
    letter-spacing: 2.2px;
}
.main__right_article a{
    font-family: LeagueGothic ;
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-left: 343px;
    position: relative;
    top:7px;
}
.updates_list{
    margin-bottom: 20px;
}
/*--------section_partners-----------*/
.section_partners{
  width: 250%;
    padding-top: 25px;
    margin-left: -80.5%;
    margin-top:9%;
    text-align: center;
}
.section_partners .partners_768{ 
    display: none;
}
.section_partners .partners_480{  
    display: none;
}   
.partners_320{  
    display: none;
}  
/*-------"section_additional_information-----*/
.credentials{
    width: 960px;
    margin-top: 10.5%;
    display: flex;
    justify-content: space-between;
}
.credentials__article {
    width: 33%;
    margin-left: -75px;
    height: 250px;
    box-sizing: border-box;
    padding: 20px;
    margin-right: 40px;
}
.credentials__article h1{
     font-family: LeagueGothic;
    color: black;
    font-size: 48px;
    margin-bottom: 12px;
}
.credentials__article h1 span{
   color: gray;
}
.credentials__article p{
      font-family:OpenSansLight;
    line-height: 25px;
    font-size: 18px;
    
}
.credentials__article .copyright{
    letter-spacing: 0px;
    font-family: Georgia;
    font-style: italic;
    color: #c5c5c5;
    margin-bottom: 7px;
}
.credentials__article h2{
    font-family: LeagueGothic;
       font-size: 30px;
    margin-top: 3px;
    padding-bottom: 9px;
}
/*-------footer-----*/
.footer{
    margin-top: 11.5%;
    margin-left: -150px;
    display: flex;
    justify-content: space-between;
}
.footer__menu__item{
    margin-right: 41px;
    font-size: 21px;
}
.footer p {
    margin-top: 14px;
    margin-right: 45px;
    color: white;
    font-size: 13px;
}
.footer p span{
    font-weight: 700;
}