<style>
        * {
            margin: 0px;
        }
        body{
            background-color: cornsilk;
        }

        #wrongPass {
            color: red;
            display: none;
            margin: 10px;
        }

        .post {
            margin: 5px;
        }

        .posters {
            background-color: #a6e1ec;
            border: 2px solid gray;
            border-radius: 5px;
            margin: 10px;
        }

        .posters div {
            padding: 10px;
            background-color: #2aabd2;
        }
        .posters p {
            padding: 10px;
            font-size: 16pt;
        }
    </style>